<!-- <h1>Angular</h1>
<button (click)='ab()'>click</button><br>
{{a}}
<div *ngFor="let e of emp">
  <h1>{{e.age}}</h1>
  <h1>{{e.mob}}</h1>
</div>
<input type="text" [(ngModel)]="name">
{{this.name}}
<input type="text" #mi>
<button (click)='cd(mi.value)'>click</button><br>
<h1>{{y}}</h1> -->
<!-- <h1 [ngClass]="ab">mmm</h1> -->
<!-- <input type="text" [disabled]="x">
<a [href]="d">mjay</a> -->

<!-- <h1>Pipes</h1><br><br>
<h1>{{name | uppercase}}</h1>
<h1>{{name | lowercase}}</h1>
<h1>{{6589.23 | currency:"INR"}}</h1>
<h1>{{date}}</h1>
<h1>{{date | date:'d/M/y'}}</h1>
<h1>{{date | date:'shortDate'}}</h1>
<h1>{{date | date:'shortTime'}}</h1>
<h1>{{emp | json}}</h1> -->

<div>
    <h1>Reactive Form</h1><br>
    <form>
        Book: <br>
        <input type="text" [formControl]="book"> <br><br>
        Author: <br>
        <input type="text" [formControl]="author"> <br><br>
        ISBN: <br>
        <input type="text" [formControl]="isbn"> <br><br>
        <button class="btn btn-warning" type="submit">Submit</button>
    </form>
</div>
<br><br><br><br>
<table>
    <tr>
        <th>Book Name</th>
        <th>Author Name</th>
        <th>ISBN No.</th>
    </tr>
    <tr>
        <td>{{book.value}}</td>
        <td>{{author.value}}</td>
        <td>{{isbn.value}}</td>
    </tr>